# Environments
.env
.env.*
backend/.env

# Dependencies
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/ahmia_results.png
tmp_onion_search/
